actividad3ejercicio4/target/classes/actividad3ejercicio4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <ajax:connector name="Ajax" serverUrl="http://localhost:8082/convertir" resourceBase="src/main/app/docroot" jsonCommented="true" doc:name="Ajax"/>
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="8081" doc:name="HTTP Request Configuration"/>
    <flow name="actividad3ejercicio4Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="*" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger"/>
        <jersey:resources doc:name="REST">
            <component class="actividad3ejercicio4.Convertir"/>
        </jersey:resources>
    </flow>
    <flow name="actividad3ejercicio4Flow1">
        <ajax:inbound-endpoint channel="/services/echo" connector-ref="Ajax" responseTimeout="10000" doc:name="Ajax"/>
        <http:request config-ref="HTTP_Request_Configuration" path="dollars2euros/{cantidad}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="cantidad" value="#[message.payload]"/>
            </http:request-builder>
        </http:request>
        <set-payload value="#[message.payload]" doc:name="Set Payload"/>
        <echo-component doc:name="Echo"/>
    </flow>
</mule>
