proyectofinal/src/main/app/proyectofinal.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:amqps="http://www.mulesoft.org/schema/mule/amqps" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/amqps http://www.mulesoft.org/schema/mule/amqps/current/mule-amqps.xsd">
    <http:request-config name="HTTP_Request_ConversionSource1" host="api.currencylayer.com" port="80" doc:name="HTTP Request Configuration"/>
    <http:listener-config name="HTTP_POST_RabbitMessages" host="localhost" port="8888" doc:name="HTTP Listener Configuration"/>
    <amqp:connector name="AMQP_0_9_Connector" validateConnections="true" doc:name="AMQP-0-9 Connector" prefetchCount="1" numberOfChannels="1" />
    <http:request-config name="HTTP_Request_ConversionSource2" host="api.exchangeratesapi.io" port="80" doc:name="HTTP Request Configuration"/>
    <ajax:connector name="Ajax" serverUrl="http://localhost:8081/" resourceBase="src/main/app/docroot" jsonCommented="true" doc:name="Ajax"/>
    <flow name="ConversionSource1">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="10" timeUnit="MINUTES"/>
            <http:request config-ref="HTTP_Request_ConversionSource1" path="/live" method="OPTIONS" doc:name="HTTP">
                <http:request-builder>
                    <http:query-param paramName="access_key" value="d358916f4ccf89acdabd1d1dac97a4e3"/>
                    <http:query-param paramName="currencies" value="EUR"/>
                    <http:query-param paramName="source" value="USD"/>

                </http:request-builder>
            </http:request>
        </poll>
        <component class="proyectofinal.Source1Transformer" doc:name="TransformSource1"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <file:outbound-endpoint path="..\proyectofinal\conversionrate\" outputPattern="source1-#[function:datestamp].json" responseTimeout="10000" doc:name="Source1"/>
    </flow>
    <flow name="PostMessage">
        <http:listener config-ref="HTTP_POST_RabbitMessages" path="/post-message" doc:name="HTTP"/>
        <amqp:outbound-endpoint queueName="ProyectoFinal" responseTimeout="10000" exchange-pattern="request-response" doc:name="AMQP-0-9-PostMesssage"/>
        <set-payload value="Se ha ejecutado un POST al endpoint /post-message  #[function:datestamp]" doc:name="Set Payload"/>
        <flow-ref name="EndpointsLog" doc:name="EndpointsLog"/>
    </flow>
    <flow name="GetMessage">
        <amqp:inbound-endpoint queueName="ProyectoFinal" responseTimeout="10000" connector-ref="AMQP_0_9_Connector" doc:name="AMQP-0-9-GetMessage"/>
        <byte-array-to-object-transformer doc:name="Byte Array to Object"/>
        <component class="proyectofinal.Convertir" doc:name="Java"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>

        <file:outbound-endpoint path="..\proyectofinal\conversionrate2\" outputPattern="source1-#[function:datestamp].txt" responseTimeout="10000" doc:name="Source2"/>
    </flow>

    <flow name="EndpointsLog">
        <logger level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="..\proyectofinal\logs\" outputPattern="endpoint-#[function:datestamp].txt" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
