actividad5ejercicio4/src/main/app/actividad5ejercicio4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:stdio="http://www.mulesoft.org/schema/mule/stdio"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/stdio http://www.mulesoft.org/schema/mule/stdio/current/mule-stdio.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_Configuration"
		host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    <stdio:connector name="STDIO" messageDelayTime="10" validateConnections="true" doc:name="STDIO"/>

	<flow name="actividad5ejercicio4Flow">
		<http:listener config-ref="HTTP_Listener_Configuration"
			path="*" doc:name="HTTP" />
		<choice doc:name="Choice">
			<when
				expression="#[message.inboundProperties.'http.request.path' == '/products']">
				<component class="actividad5ejercicio4.ProductsPath"
					doc:name="Products" />
                <flow-ref name="actividad5ejercicio4Flow1" doc:name="Products"/>
			</when>
			<when
				expression="#[message.inboundProperties.'http.request.path' == '/clients']">
				<component class="actividad5ejercicio4.ClientsPath"
					doc:name="Clients" />
                <flow-ref name="actividad5ejercicio4Flow1" doc:name="Clients"/>
			</when>
            <otherwise>
                <set-payload value="#[' Acceso a ruta incorrecta: ' + message.inboundProperties.'http.request.path']" doc:name="Set Payload"/>
                <echo-component doc:name="Echo"/>
            </otherwise>
		</choice>
	</flow>
    <flow name="actividad5ejercicio4Flow1">
        <logger level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="..\actividad5ejercicio4\output" outputPattern="[message.id].txt" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
