actividad5ejercicio1/src/main/app/actividad5ejercicio1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:postgresql://34.78.36.113:5432/itsi?user=estudiante&amp;password=estudiante" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration"/>
    <flow name="actividad5ejercicio1Flow">
        <file:inbound-endpoint path="..\actividad5ejercicio1\files" moveToDirectory="..\actividad5ejercicio1\files\processed" responseTimeout="10000" doc:name="File"/>
        <dw:transform-message doc:name="Transform Message" metadata:id="24893581-fb37-42c1-8506-95b71168432d">
            <dw:input-payload doc:sample="C:\Users\dfmar\AnypointStudio\workspace\actividad5ejercicio1\files\empleados.csv" mimeType="application/csv"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload map ((payload01 , indexOfPayload01) -> {
	empid: payload01.id as :number,
	empname: payload01.name,
	empage: payload01.age as :number,
	empjob: payload01.designation
})]]></dw:set-payload>
        </dw:transform-message>
        <collection-splitter doc:name="Collection Splitter"/>
        <echo-component doc:name="Echo"/>
        <db:insert config-ref="Generic_Database_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO employees (empid,empname,empage,empjob)
VALUES (#[message.payload.empid], #[message.payload.empname],
#[message.payload.empage],#[message.payload.empjob]);]]></db:parameterized-query>
        </db:insert>
    </flow>
</mule>
