actividad4ejercicio3/target/classes/actividad4ejercicio3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <db:generic-config name="Generic_Database_Configuration" url="jdbc:postgresql://34.78.36.113:5432/itsi?user=estudiante&amp;password=estudiante" driverClassName="org.postgresql.Driver" doc:name="Generic Database Configuration"/>
    <flow name="actividad4ejercicio3Flow1">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="2" timeUnit="MINUTES"/>
            <db:select config-ref="Generic_Database_Configuration" doc:name="Items">
                <db:parameterized-query><![CDATA[select * from items]]></db:parameterized-query>
            </db:select>
        </poll>
        <component class="actividad4ejercicio3.ItemTransformer" doc:name="Java"/>
        <file:outbound-endpoint path="..\actividad4ejercicio3\files\flow1" responseTimeout="10000" doc:name="XML" outputPattern="itemsdb-#[function:datestamp].xml"/>
    </flow>
    <flow name="actividad4ejercicio3Flow2">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="2" startDelay="1" timeUnit="MINUTES"/>
            <db:select config-ref="Generic_Database_Configuration" doc:name="Customers">
                <db:parameterized-query><![CDATA[select * from customers]]></db:parameterized-query>
            </db:select>
        </poll>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <file:outbound-endpoint path="..\actividad4ejercicio3\files\flow2" outputPattern="customers-#[function:datestamp].json" responseTimeout="10000" doc:name="JSON"/>
        <json:json-to-object-transformer returnClass="java.util.List" doc:name="JSON to Object"/>
        <component class="actividad4ejercicio3.CustomerTransformer" doc:name="Java"/>
        <file:outbound-endpoint path="..\actividad4ejercicio3\files\flow2" outputPattern="customers-#[function:datestamp].xml" responseTimeout="10000" doc:name="TransformedXML"/>
    </flow>
</mule>
